# Not yet ready files
/Data/Processed

# Too large for GitHub but important files
/Data/Source/hg38.polyAsignals.bed

# Too many files, look for zipped in same dir
/Utils/jlagarde

# Junk files and directories
Random/
notes
test.py
mt_rna_slice_by_target_single.py
/Plots/old
/R_notebooks/*.html
/R_notebooks/robocze/*.html
/R_notebooks/.Rproj.user
/R_notebooks/.Rhistory
.Rproj.user
/Data/Other
.temp
/Data/Reports

# Copyrighted
/Utils